<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../assets/library/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../assets/library/css/main.css">
<!--===============================================================================================-->
<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/library/images/bg-01.jpg');"> 
    <div class="container col-md-7">
      <form [formGroup]="accountFormGroup" class="bgcol shadow-lg animated fadeInDown">
          <div class="form-group">
              <div class="col-12" style="text-align:center">
                  <h1>&nbsp;&nbsp;<a>TRANSFER</a></h1>
                  <hr>
              </div>
          </div>
          <div class="container">
              <div class="form">
                  <div class="col-12">
                      <label>Bank Tujuan </label>
                        <select class="custom-select">
                                <option selected>select bank</option>
                                <option value="1">Bank 1</option>
                                <option value="2">Bank 2</option>
                                <option value="3">Bank 3</option>
                              </select>
                      <label>Rekening Tujuan</label>
                      <input type="text" class="form-control" formControlName="openDate">
                  </div>
                  <div class="col-12">
                      <label>Jumlah</label>
                      <input type="number" class="form-control" formControlName="balance">
                  </div>
                  <div class="row">
                      <div class="col-12" style="text-align:center">
                          <button class="btn btn-outline-primary" type="button" (click)="savesweet()">OK</button>
                          <button class="btn btn-outline-primary" type="button" (click)="cancelChanges()">Cancel</button>
                      </div>
                  </div>
                  <div class="row">
                      <div>
                          &nbsp;
                      </div>
                  </div>
              </div>
          </div>
      </form>
  
  
    </div>
</div>
</div>