<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->	
	<!-- <link rel="stylesheet" type="text/css" href="../../assets/library/css/util.css"> -->
    <link rel="stylesheet" type="text/css" href="../../assets/library/css/main.css">
<!--===============================================================================================-->
<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/library/images/bg-01.jpg');"> 
    <div class="container col-md-7" class="wrap-tra100">
        <!-- <div class="wrap-das100"> -->
      <form [formGroup]="transactionFormGroup" class="bgcol shadow-lg animated fadeInDown">
          <div class="form-group">
              <div class="col-12" style="text-align:center">
                <p style="font-size: 25px"><b>TRANSFER</b></p>
                  <hr>
              </div>
          </div>
          <div class="container">
              <div class="form">
                  <div class="col-12">
                      <label>Bank Receiver </label>
                        <select class="custom-select form-control" formControlName="bankdest">
                                <option disabled selected>select bank</option>
                                <option value="Saku Bank">Saku Bank</option>
                                <option value="Bank Bang">Bank Bang</option>
                                <!-- <option value="3">Bank 3</option> -->
                              </select>
                      <label>Account Number Receiver</label>
                      <input type="text" class="form-control" formControlName="accountdest" (keyup)="clearmsgacc()">
				<p *ngIf="messageaccount" class="" style="color: red; text-align:center;">{{messageaccount}}</p>

                  </div>
                  <div class="col-12">
                      <label>Amount</label>
                      <input type="number" class="form-control" formControlName="tramount" (keyup)="clearmsg()">
                  </div>
                  <div class="col-12">
                  <label>Description</label>
                      <input type="text" class="form-control" formControlName="trdesc">
                  </div>
                  <div class="col-12">
                    <label>Pin</label>
                        <input type="password" class="form-control" formControlName="pin" (keyup)="clearmsgpin()">
                    </div>
				<p *ngIf="messagepin" class="" style="color: red; text-align:center;">{{messagepin}}</p>
                <p *ngIf="message" class="" style="color: red; text-align:center;">{{message}}</p>
                <br>
                  <div class="row">
                      <div class="col-12" style="text-align:center">
                          <button class="btn btn-outline-primary" style="color: white" type="button" (click)="validTransfer()">OK</button>
                          <button class="btn btn-outline-primary" style="color: white" type="button" (click)="cancelChanges()">Cancel</button>
                      </div>
                  </div>
                  <div class="row">
                      <div>
                          &nbsp;
                      </div>
                  </div>
              </div>
          </div>
      </form>
  
  
    </div>
</div>
</div>
