<!--The content below is only a placeholder and can be replaced.-->
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='../assets/library/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
  crossorigin='anonymous'>
<link rel="stylesheet" href='../assets/library/css/awesome.min.css'>
<link rel="stylesheet" href='../assets/library/css/all.css' integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">
<link rel="stylesheet" href='../assets/library/css/animate.min.css'>
<!-- <link rel="stylesheet" href="https://sweetalert2/dist/sweetalert2.min.css"> -->
<link rel="stylesheet" href='../assets/library/css/bootstrap.min.css' integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">

<script src='../assets/library/js/bootstrap.min.js' integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"></script>
<script src='../assets/library/js/slim.min.js' integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src='../assets/library/js/popper.min.js' integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"></script>
<script src='../assets/library/js/polyfill.js'></script>
<script src='../assets/library/js/sweetalert2.all.min.js'></script>

  <nav class="shadow-lg navbar navbar-expand-lg navbar-light sticky-top navbar-custom">
    <a class="navbar-brand a" href="#">
      <font id="myInput" size="5">&nbsp;&nbsp;&nbsp;Saku Bank</font>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav shadow-lg mr-auto">
        <li class="nav-item"*ngIf=!teslogin()>
          <a class="nav-link" routerLink="LoginForm"><i class="fa fa-fw fa-user"></i>LOGIN <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf=teslogin()>
          <a class="nav-link" routerLink="dashboard"><i style="font-size:16px" class="fas fa-address-card"></i>DASHBOARD</a>
        </li>
        <li class="nav-item" *ngIf=teslogin()>
          <a class="nav-link" routerLink="transfer"><i style="font-size:18px" class="fab fa-amazon-pay"></i>TRANSFER</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">Action</a>
            <a class="dropdown-item">Another action</a>
          </div>
        </li> -->
      </ul>
      <form class="nav navbar-nav navbar-right form-inline" *ngIf=teslogin()>
        <button (click)="thislogout()" class="btn btn-primary" type="submit">LOGOUT</button>
      </form>
    </div>
  </nav>

<div class="container">
  <div style="text-align:center">
    <h3><a>SAKU BANK</a></h3>
  </div>
  <!-- <RegisterComponent></RegisterComponent> -->
  <router-outlet></router-outlet>

  <div class="footer-copyright text-left py-3">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="nav navbar-nav navbar-left form-inline">
        <i class="fab fa-angular" style="font-size:25px"></i>Angular 7
      </form>
      <!-- <form class="nav navbar-nav navbar-right form-inline">
          <i class="fab fa-linkedin"  style="font-size:25px"></i>
      </form>
      <form class="nav navbar-nav navbar-right form-inline">
        <i class="fab fa-google-plus-square" style="font-size:25px"></i>
      </form> -->
    </div>
  </div>