<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../assets/library/css/main.css">
<!--===============================================================================================-->

<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/library/images/bg-01.jpg');"> 
    <div class="wrap-das100">
<h3>Hi, {{data.firstname}}!</h3>
<p style="font-size: 18px">Welcome to Sakubank Web</p><br>

    <table>
        <th>
            <p style="font-size: 15px"> Name &nbsp;&nbsp; </p>
            <p style="font-size: 15px"> Phone &nbsp;&nbsp; </p> 
            <p style="font-size: 15px">Birthdate &nbsp; </p> 
            <p style="font-size: 15px">Address &nbsp;&nbsp; </p> <br>
        </th>
        <th>
            <p style="font-size: 15px"> &nbsp;:{{data.firstname}} {{data.lastname}} </p>
            <p style="font-size: 15px"> &nbsp;:{{data.phonenumber}} </p>
            <p style="font-size: 15px">&nbsp;:{{data.birthdate}} </p> 
            <p style="font-size: 15px"> &nbsp;:{{data.address}} </p> <br>
        </th>
    </table>

<table id="myTable" class="table table-bordered animated fadeInUp delay-1.2s" cellspacing="2"
  width="100%" style="text-align:center">
  <thead class="gradient">
      <!-- <tr onclick="row"> -->
      <th style="text-align: center">Account Number</th>
      <th style="text-align: center">Type Account</th>
      <th style="text-align: center">PIN</th>
      <th style="text-align: center">Balance</th>
      <th style="text-align: center">History</th>
    </thead>
    <tbody>
        <tr *ngFor="let acc of ListAccount"> 
            <td>{{acc.accountnumber}}</td>
            <td>{{acc.type}}</td>
            <td>{{acc.pin}}</td>
            <td>{{acc.balance | currency: "Rp. "}}</td>
            <td>
                    <button title="History Transfer" class="btn default" (click)="toTransfer();"><i class="fas fa-exchange-alt"
                            style="font-size:18px"></i></button> &nbsp;
                    <button title="History Top Up" class="btn default" (click)="toTopup();"><i class="fas fa-upload"
                            style="font-size:18px"></i></button> &nbsp;
                    <button title="History Withdraw" class="btn default" (click)="toWithdraw();"><i class="fas fa-dollar-sign"
                            style="font-size:18px"></i></button> &nbsp;
                    <button title="History Inbox" class="btn default" (click)="toInbox();"><i class="fas fa-download"
                        style="font-size:18px"></i></button>
                </td>
        </tr>
    </tbody>
    </table>
    <!-- <button (click)="toform()" class="btn btn-primary" type="submit">CREATE ACCOUNT</button> -->
    </div>
    </div>
    </div>