<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../assets/library/css/main.css">
<!--===============================================================================================-->

<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/library/images/bg-01.jpg');"> 
    <div class="wrap-das100">
<h3>Hi, {{data.firstname}}!</h3>
<p>You're logged</p><br>

<table>
    <th>
    <img src='../../../assets/library/images/imgprofile.jpg' style="width: 100px"/>
    &nbsp;   
</th>
    <th>
<p> Name        : {{data.firstname}} &nbsp; {{data.lastname}}</p>
<p> Phone Number: {{data.phonenumber}}</p> 
<p> Birthdate   : {{data.birthdate}}</p> 
<p> Address     : {{data.address}}</p><br>

</th>
</table>

<table id="myTable" class="table table-bordered animated fadeInUp delay-1.2s shadow-lg" cellspacing="2"
  width="100%" style="text-align:center">
  <thead class="gradient">
      <!-- <tr onclick="row"> -->
      <th style="text-align: center"><i class="fas fa-leaf" style="color:rgb(115, 156, 196)"></i>Account Number</th>
      <th style="text-align: center"><i class="fas fa-leaf" style="color:rgb(116, 209, 163)"></i>Type Account</th>
      <th style="text-align: center"><i class="fas fa-leaf" style="color:rgb(116, 209, 163)"></i>PIN</th>
      <th style="text-align: center"><i class="fas fa-leaf" style="color:rgb(116, 209, 163)"></i>Balance</th>
      <th style="text-align: center"><i class="fas fa-leaf" style="color:rgb(226, 240, 107)"></i>History</th>
    </thead>
    <tbody>
        <tr *ngFor="let acc of ListAccount"> 
            <td>{{acc.accountnumber}}</td>
            <td>{{acc.type}}</td>
            <td>{{acc.pin}}</td>
            <td>{{acc.balance}}</td>
            <td>
                    <button title="History Transfer" class="btn info btn-sm " (click)="toTransfer();"><i class="fas fa-exchange-alt"
                            style="font-size:12px"></i></button>
                    <button title="History Top Up" class="btn btn-sm warning" (click)="toTopup();"><i class="fas fa-upload"
                            style="font-size:12px"></i></button>
                    <button title="History Withdraw" class="btn btn-sm danger" (click)="toWithdraw();"><i class="fas fa-dollar-sign"
                            style="font-size:12px"></i></button>
                </td>
        </tr>
    </tbody>
    </table>
    <button (click)="toform()" class="btn btn-primary" type="submit">CREATE ACCOUNT</button>
    </div>
    </div>
    </div>