<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../assets/library/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../assets/library/css/main.css">
<!--===============================================================================================-->
<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/library/images/bg-01.jpg');"> 
    <div class="container col-md-7" class="wrap-tra100">
      <form [formGroup]="topupFormGroup" class="bgcol shadow-lg animated fadeInDown">
          <div class="form-group">
              <div class="col-12" style="text-align:center">
                    <p style="font-size: 25px"><b>TOP UP</b></p>
                  <hr>
              </div>
          </div>
          <div class="container">
              <div class="form">
                  <div class="col-12">
                      <label>Amount</label>
                      <input type="number" class="form-control" formControlName="tamount">
                  </div><br>
                  <div class="row">
                      <div class="col-12" style="text-align:center">
                          <button class="btn btn-outline-primary" type="button"  style="color: white" (click)="submitDataFormSave()">OK</button>
                          <button class="btn btn-outline-primary" type="button"  style="color: white" (click)="getpin()">Cancel</button>
                      </div>
                  </div>
                  <div class="row">
                      <div>
                          &nbsp;
                      </div>
                  </div>
              </div>
          </div>
      </form>
    </div>
</div>
</div>