<title>Create Account</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="../../assets/library/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/library/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/library/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<!-- <link rel="stylesheet" type="text/css" href="../../assets/library/fonts/iconic/css/material-design-iconic-font.min.css"> -->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/library/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/library/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/library/vendor/animsition/css/animsition.min.css">
<!--==============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/library/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<!-- <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css"> -->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/library/css/util.css">
<link rel="stylesheet" type="text/css" href="../../assets/library/css/main.css">
<!--===============================================================================================-->

<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/library/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form [formGroup]="accountFormGroup" class="login100-form validate-form">
        <span class="login100-form-logo">
          <i class="zmdi zmdi-landscape"></i>
        </span>

        <span class="login100-form-title p-b-34 p-t-27">
          Create Account
        </span>
            <div class="wrap-input100 validate-input">
            <select class="input100 custom-select">
                <option selected>Type Account</option>
                <option value="1">Debit</option>
                <option value="2">Credit</option>
              </select>
        
          <!-- <input class="input100" type="text" placeholder="Type Account" formControlName="type">
          <span class="focus-input100"></span> -->
        </div>
        <div class="wrap-input100 validate-input">
          <input class="input100" type="number" placeholder="PIN" formControlName="pin">
          <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="checkaccount()">
            Create
          </button>
        </div><br>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="../../assets/library/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../../assets/library/vendor/animsition/js/animsition.min.js"></script>
<!--==============================================================================================-->
<script src="../../assets/library/vendor/bootstrap/js/popper.js"></script>
<script src="../../assets/library/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<!-- <script src="vendor/select2/select2.min.js"></script> -->
<!--===============================================================================================-->
<script src="../../assets/library/vendor/daterangepicker/moment.min.js"></script>
<!-- <script src="vendor/daterangepicker/daterangepicker.js"></script> -->
<!--===============================================================================================-->
<script src="../../assets/library/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../../assets/library/js/main.js"></script>