<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../../assets/library/css/main.css">
<!--===============================================================================================-->

<div class="limiter">
    <div class="container-login100" style="background-image: url('../../assets/library/images/bg-01.jpg');">
        <div class="wrap-das100">
            <h3>HISTORY WITHDRAW</h3>
            <br><br>
            <table id="myTable" class="table table-bordered animated fadeInUp delay-1.2s shadow-lg" cellspacing="2"
                width="100%" style="text-align:center">
                <thead class="gradient">
                    <!-- <tr onclick="row"> -->
                    <th style="text-align: center">Date</th>
                    <th style="text-align: center">Amount</th>
                    <th style="text-align: center">Referal Code</th>
                </thead>
                <tbody>
                    <tr *ngFor="let wd of ListWithdraw | paginate: { itemsPerPage: 5, currentPage: p };">
                        <td>{{wd.wddate}}</td>
                        <td>{{wd.wdamount | currency: "Rp. "}}</td>
                        <td>{{wd.referalcode}}</td>
                    </tr>
                </tbody>
            </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>